{% raw %}
{% load staticfiles i18n mezzanine_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html class="no-js" lang="{{LANGUAGE_CODE}}">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% block og_title %}SportLogos{% endblock og_title %}">
    <meta property="og:description" content="{% block og_description %}{% endblock og_description %}">
    <meta property="og:image" content="{% block og_image %}{% static 'img/og_image.jpg' %}{% endblock og_image %}">

    {% block extra_meta %}{% endblock extra_meta %}

    <title>{% block title %}{% endblock title %}</title>

    <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
    <!-- Place favicon.ico in the root directory -->

    {# Common Styles #}
    <link rel="stylesheet" media="all" href="{% static 'css/common.css' %}"/>

    {% block extra_head %}{% endblock extra_head %}

    <script>
        // Create JS namespace
        window.DJANGO = window.DJANGO || {};

        !(function(window, document, exports){
            /**
             * Inject settings from template context into a JS namespace
             */

            exports["staticUrl"] = "{{STATIC_URL}}";
            exports["mediaUrl"]  = "{{MEDIA_URL}}";

        })(window, document, window.DJANGO)
    </script>

<body class="{% block body_class %}{% endblock body_class %}">

    {% block header %}
        {% include "partials/header.html" %}
    {% endblock header %}

    {# Extend this block in child templates #}
    {% block content %}{% endblock content %}

    {% block footer %}
        {% include "partials/footer.html" %}
    {% endblock footer %}

    {% if web_settings.auto_enable_i18n %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {% endif %}

    {# Common Javascript #}
    <script type="text/javascript" src="{% static 'js/common.js' %}" ></script>

    {% block extra_js %}{% endblock extra_js %}

    {% include "partials/analytics.html" %}
</body>
</html>

{% endraw %}
