{% raw %}
{% load staticfiles i18n cms_tags sekizai_tags menu_tags meta %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html class="no-js" lang="{{LANGUAGE_CODE}}" {% meta_namespaces %} {% meta_namespaces_gplus %}>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block extra_meta %}{% endblock extra_meta %}

    <title>{% block title %}{% endblock title %}</title>

    {% addtoblock "css" %}
        <link rel="stylesheet" media="all" href="{% static 'css/common.css' %}"/>
    {% endaddtoblock %}

    {% block extra_head %}{% endblock extra_head %}

    {% render_block "css" %}

    <script>
        // Create JS namespace
        window.DJANGO = window.DJANGO || {};

        !(function(window, document, exports){
            /**
             * Inject settings from template context into a JS namespace
             */

            exports["staticUrl"] = "{{STATIC_URL}}";
            exports["mediaUrl"]  = "{{MEDIA_URL}}";

        })(window, document, window.DJANGO)
    </script>

<body class="{% block body_class %}{% endblock body_class %}">
    {% cms_toolbar %}

    {% block header %}
        {% include "partials/header.html" %}
    {% endblock header %}

    {# Extend this block in child templates #}
    {% block content %}{% endblock content %}

    {% block footer %}
        {% include "partials/footer.html" %}
    {% endblock footer %}

    {% if web_settings.auto_enable_i18n %}
        {% addtoblock "js" %}
            <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        {% endaddtoblock %}
    {% endif %}

    {% addtoblock "js" %}
        {% include "partials/analytics.html" %}
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script type="text/javascript" src="{% static 'js/common.js' %}" ></script>
    {% endaddtoblock %}

    {% block extra_js %}{% endblock extra_js %}

    {% render_block "js" %}
</body>
</html>

{% endraw %}
