{% raw %}
{% extends 'base.html' %}
{% load webpack_loader %}

{% block body_class %}home-page{% endblock body_class %}

{% block content %}
<div class="container">
    <header>
        <h1>Congrats!</h1>
    </header>
    <p>This template is up and running successfully!</p>
    <hr>
    <p><strong>What's next?</strong></p>
    <ul>
        <li>Modify this page by editing <code>web/templates/index.html</code></li>
        <li>Static assets are in <code>project/@static/</code></li>
        {% if web_settings.debug %}
            {# UI Kit is not available when settings.DEBUG = False #}
            <li><a href="{% url "ui-kit-index" %}">Check Out The UI-Kit</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}" ></script>
{% endblock extra_js %}
{% endraw %}
