# -------------------------------------
# .DOCKERIGNORE
# -------------------------------------

.*
.gitignore
.git/
*.md
site/.env
site/collected-static/
site/@static/node_modules/
docker-compose.yml
circle.yml
docs/
deploy/
uploads
Makefile
