{% load static from staticfiles %}
{% load mezzanine_tags %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html itemscope itemtype="http://schema.org/Article" class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}SportLogos, Inc.{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{% block og_title %}SportLogos{% endblock og_title %}">
    <meta property="og:description" content="{% block og_description %}{% endblock og_description %}">
    <meta property="og:image" content="{% block og_image %}{% static 'img/og_image.jpg' %}{% endblock og_image %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/common.css' %}"/>

    {% block headstyle %}{% endblock %}

    {% block headscript %}
        <script type="text/javascript">
        window.config = {
            staticUrl: '{{STATIC_URL}}',
            mediaUrl: '{{MEDIA_URL}}'
        };
        </script>
    {% endblock %}

    {% block head %}{% endblock %}

  </head>
  <body class="{% block body_class %}{% endblock body_class %}">

        {% block header %}
            {% include "partials/header.html" %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% include "partials/footer.html" %}

        {% block jsapp %}
            <script type="text/javascript">

            </script>
        {% endblock %}

        {% block extra_js %}{% endblock extra_js %}

        {% include "partials/ga.html" %}
    </body>
</html>
