<h3 class="ui-h3">Inputs</h3>
<input id="input-example-text" class="form-control" type="text" placeholder="Text Input">
<br>
<input id="input-example-email" class="form-control" type="email" placeholder="you@example.com">
<br>
<input type="password" id="input-example-password" class="form-control" value="1234qwerty">
<br>
<input type="date" id="input-example-date" class="form-control">
<br>
<input type="month" id="input-example-month" class="form-control">
<br>
<input type="week" id="input-example-week" class="form-control">
<br>
<input type="time" id="input-example-time" class="form-control">
<br>
<input type="number" id="input-example-number" class="form-control" value="100">
<br>
<input type="color" id="input-example-color" class="form-control">
<br>
<textarea id="textarea-example" class="form-control" rows="3" placeholder="Write something great!"></textarea>
<br><br>

<h3 class="ui-h3">Input States</h3>
<div class="form-group">
    <input id="input-example-text" class="form-control ui-input-emulate-focus" type="text" placeholder="Input Focused">
</div>
<div class="form-group">
    <input id="input-example-text" class="form-control" type="text" placeholder="Input Disabled" disabled>
</div>
<div class="form-group">
    <input id="input-example-text" class="form-control" type="text" placeholder="Input Readonly" readonly>
</div>
<div class="form-group has-success">
    <input id="input-example-text" class="form-control" type="text" placeholder="Input Success">
</div>
<div class="form-group has-warning">
    <input id="input-example-text" class="form-control" type="text" placeholder="Input Warning">
</div>
<div class="form-group has-error">
    <input id="input-example-text" class="form-control" type="text" placeholder="Input Error">
</div>
<br>

<h3 class="ui-h3">Checkboxes</h3>
<div class="checkbox">
  <label>
    <input type="checkbox" value="1">
    Option one
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="2">
    Option two
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="3">
    Option three
  </label>
</div>
<br>

<h3 class="ui-h3">Radios</h3>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>
    Option one
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="2" checked>
    Option two
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="3" checked>
    Option three
  </label>
</div>
