<h3 class="ui-h3">Unordered List</h3>
<p class="ui-redline">&lt;ul&gt;</p>
<ul>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
        <ul>
            <li>Nested List Item</li>
            <li>Purus sodales ultricies</li>
            <li>Vestibulum laoreet porttitor sem</li>
            <li>Ac tristique libero volutpat at</li>
        </ul>
    </li>
    <li>Faucibus porta lacus fringilla vel</li>
    <li>Aenean sit amet erat nunc</li>
    <li>Eget porttitor lorem</li>
</ul>
<br>
<h3 class="ui-h3">Unordered List, Unstyled</h3>
<p class="ui-redline">.list-unstyled</p>
<ul class="list-unstyled">
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
    <li>Facilisis in pretium nisl aliquet</li>
    <li>Eget porttitor lorem</li>
</ul>
<br>
<h3 class="ui-h3">Unordered List, Inline</h3>
<p class="ui-redline">.list-inline</p>
<ul class="list-inline">
    <li>Facilisis in pretium nisl aliquet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
</ul>
<br>
