
{% raw %}
{% extends 'base.html' %}
{% load staticfiles cms_tags %}

{% block body_class %}home-page{% endblock body_class %}

{% block content %}
<div class="container">
    <div class="blitz-logo"></div>
    <header>
        <h1>Congrats!</h1>
    </header>
    <p>This template is up and running successfully!</p>
    <hr>
    <p><strong>What's next?</strong></p>
    <ul>
        <li>Modify this page by editing <code>overrides/templates/fullwidth.html</code></li>
        <li>Static assets are in <code>project/@static/</code></li>
        {% placeholder "feature" %}
        {% placeholder "content" %}
        {% placeholder "splashbox" %}
    </ul>
</div>

{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_head %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}" ></script>
{% endblock extra_js %}
{% endraw %}
