{% raw %}
<h3 class="ui-h3">Primary Buttons</h3>
<div class="row">
    <div class="col-sm-3">
        <p class="ui-redline">.btn.btn-default</p>
        <button class="btn btn-default" type="submit">Button Label</button>
        <br><br>
    </div>
    <div class="col-sm-3">
        <p class="ui-redline">.btn.btn-primary</p>
        <button class="btn btn-primary" type="submit">Button Label</button>
        <br><br>
    </div>
    <div class="col-sm-3">
        <p class="ui-redline">.btn.btn-success</p>
        <button class="btn btn-success" type="submit">Button Label</button>
        <br><br>
    </div>
    <div class="col-sm-3">
        <p class="ui-redline">.btn.btn-info</p>
        <button class="btn btn-info" type="submit">Button Label</button>
        <br><br>
    </div>
    <div class="col-sm-3">
        <p class="ui-redline">.btn.btn-warning</p>
        <button class="btn btn-warning" type="submit">Button Label</button>
        <br><br>
    </div>
    <div class="col-sm-3">
        <p class="ui-redline">.btn.btn-danger</p>
        <button class="btn btn-danger" type="submit">Button Label</button>
        <br><br>
    </div>
    <div class="col-sm-3">
        <p class="ui-redline">.btn.btn-link</p>
        <button class="btn btn-link" type="submit">Button Label</button>
        <br><br>
    </div>
</div>
<br>
<h3 class="ui-h3">Secondary Buttons</h3>
<div class="row">
    <div class="col-sm-12">
        {% include "ui_kit/includes/todo.html" with text="Update" %}
    </div>
</div>

{% endraw %}
