// ------------------------------------
// COMMON STYLES
// ------------------------------------

// Must be set first to properly setup fonts for webpack
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// TODO: Check out bootstrap-loader
//       https://github.com/shakacode/bootstrap-loader

// Order matters here...
@import "~bootstrap-styles/bootstrap/variables";
@import "~bourbon-styles/bourbon";
@import "~breakpoint-styles/breakpoint";
@import "./config";
@import "./mixins";

// Import bootstrap last to make sure our variables will affect these styles.
// Note: These are imported separately to avoid re-importing bootstrap
//       variables (see above).
@import "~bootstrap-styles/bootstrap/mixins";
@import "~bootstrap-styles/bootstrap/normalize";
@import "~bootstrap-styles/bootstrap/print";
@import "~bootstrap-styles/bootstrap/glyphicons";
@import "~bootstrap-styles/bootstrap/scaffolding";
@import "~bootstrap-styles/bootstrap/type";
@import "~bootstrap-styles/bootstrap/code";
@import "~bootstrap-styles/bootstrap/grid";
@import "~bootstrap-styles/bootstrap/tables";
@import "~bootstrap-styles/bootstrap/forms";
@import "~bootstrap-styles/bootstrap/buttons";
@import "~bootstrap-styles/bootstrap/component-animations";
@import "~bootstrap-styles/bootstrap/dropdowns";
@import "~bootstrap-styles/bootstrap/button-groups";
@import "~bootstrap-styles/bootstrap/input-groups";
@import "~bootstrap-styles/bootstrap/navs";
@import "~bootstrap-styles/bootstrap/navbar";
@import "~bootstrap-styles/bootstrap/breadcrumbs";
@import "~bootstrap-styles/bootstrap/pagination";
@import "~bootstrap-styles/bootstrap/pager";
@import "~bootstrap-styles/bootstrap/labels";
@import "~bootstrap-styles/bootstrap/badges";
@import "~bootstrap-styles/bootstrap/jumbotron";
@import "~bootstrap-styles/bootstrap/thumbnails";
@import "~bootstrap-styles/bootstrap/alerts";
@import "~bootstrap-styles/bootstrap/progress-bars";
@import "~bootstrap-styles/bootstrap/media";
@import "~bootstrap-styles/bootstrap/list-group";
@import "~bootstrap-styles/bootstrap/panels";
@import "~bootstrap-styles/bootstrap/responsive-embed";
@import "~bootstrap-styles/bootstrap/wells";
@import "~bootstrap-styles/bootstrap/close";
@import "~bootstrap-styles/bootstrap/modals";
@import "~bootstrap-styles/bootstrap/tooltip";
@import "~bootstrap-styles/bootstrap/popovers";
@import "~bootstrap-styles/bootstrap/carousel";
@import "~bootstrap-styles/bootstrap/utilities";
@import "~bootstrap-styles/bootstrap/responsive-utilities";

@import "./resets";
@import "./helpers";
