# -------------------------------------
# DJANGO ENVIRON ENV
# -------------------------------------
# Duplicate and rename this file to .env.
# Private values should be obtained from project leads


# Optional
# =====================================

DEBUG=True
CACHE_TIMEOUT=3600
DATABASE_URL=postgres://vagrant:vagrant@postgres/vagrant
REDIS_HOST=redis://localhost:6379
USE_HTTPS_FOR_ASSETS=True
ACCOUNT_ALLOW_REGISTRATION=True
SLACK_USER_NAME=logger:DEV

# Private
# =====================================

SECRET_KEY=<key>
AWS_ACCESS_KEY_ID=<key>
AWS_SECRET_ACCESS_KEY=<key>
AWS_BUCKET_NAME=<key>
UPLOADCARE_PUB_KEY=<key>
UPLOADCARE_SECRET_KEY=<key>
