# -------------------------------------
# DJANGO ENVIRON ENV
# -------------------------------------
# Duplicate and rename this file to .env.
#
# Notes:
#   - If this file ends in .dist, do not add any private information
#     such as api_keys or auth_tokens to this file.
#   - Vars FOLLOW_THIS=FORMAT
#   - "Bash" syntax is compatible with this file
#
# See:
#   - https://django-environ.readthedocs.io/en/latest/


# Django
# =====================================

ACCOUNT_ALLOW_REGISTRATION=True
CACHE_TIMEOUT=3600
DATABASE_URL=postgres://djangodb:djangodb@postgres/djangodb
DEBUG=True
LOG_LEVEL=ERROR
SECRET_KEY="CHANGEME!!!"
SLACK_USER_NAME=logger:DEV
REDIS_HOST=redis://localhost:6379
USE_HTTPS_FOR_ASSETS=True

# AWS
# =====================================

AWS_ACCESS_KEY_ID=""
AWS_BUCKET_NAME=""
AWS_SECRET_ACCESS_KEY=""

{% if cookiecutter.use_uploadcare.lower() == "y" %}
# UploadCare
# =====================================
UPLOADCARE_PUB_KEY="demopublickey"
UPLOADCARE_SECRET_KEY="demoprivatekey"
{% endif %}
