[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

"psycopg2" = "*"
mimeparse = "*"
pytz = "*"
"django-robots" = "*"
"django-environ" = "*"
"django-extensions" = "*"
"django-storages" = "*"
"django-model-utils" = "*"
djangorestframework = "*"
"django-ipware" = "*"
"django-crispy-forms" = "*"
six = "*"
pillow = "*"
"easy-thumbnails" = "*"
"django-filer" = "*"
"django-cms" = "*"
"djangocms-admin-style" = "*"
"django-treebeard" = "*"
"django-classy-tags" = "*"
"django-sekizai" = "*"
"cmsplugin-filer" = "*"
"djangocms-text-ckeditor" = "*"
"djangocms-link" = "*"
"djangocms-style" = "*"
"djangocms-googlemap" = "*"
"djangocms-snippet" = "*"
"djangocms-video" = "*"
"django-taggit" = "*"
"django-taggit-autosuggest" = "*"
"django-taggit-templatetags" = "*"
"django-meta" = "*"
requests = "*"
whitenoise = "*"


[dev-packages]

pylint = "*"
"pytest-django" = "*"
"pytest-pythonpath" = "*"
pytest = "*"
pdbpp = "*"
"django-debug-toolbar" = "*"
"mypy-lang" = "*"


[requires]
python_version = "3.6"
