{% raw %}
{% extends "base.html" %}
{% load staticfiles i18n%}

{% block title %}UI Kit{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/ui-kit.css" %}">
{% endblock extra_head %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/ui-kit.js' %}" ></script>
{% endblock extra_js %}

{% block body_class %}ui-kit{% endblock body_class %}

{% block header %}
    {% include "ui_kit/partials/header.html" %}
{% endblock header %}

{% block content %}{% endblock content %}

{% block footer %}
    {% include "ui_kit/partials/footer.html" %}
{% endblock footer %}

{% endraw %}
