{% raw %}
{% extends "web/base.html" %}
{% load staticfiles i18n sekizai_tags %}

{% block title %}UI Kit{% endblock title %}

{% block extra_head %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static "css/ui-kit.css" %}">
    {% endaddtoblock %}
{% endblock extra_head %}

{% block extra_js %}
    {% addtoblock "js" %}
        <script type="text/javascript" src="{% static 'js/ui-kit.js' %}" ></script>
    {% endaddtoblock %}
{% endblock extra_js %}

{% block body_class %}ui-kit{% endblock body_class %}

{% block header %}
    {% include "ui_kit/partials/header.html" %}
{% endblock header %}

{% block content %}{% endblock content %}

{% block footer %}
    {% include "ui_kit/partials/footer.html" %}
{% endblock footer %}

{% endraw %}
