// ------------------------------------
// UI CONFIG
// ------------------------------------
// See: http://www.flatuicolorpicker.com/

$ui-chesnut-rose:         #D1645D;
$ui-silver-sand:          #BDC3C7;
$ui-nephritis:            #27ae60;
$ui-h1-font-size:         modular-scale(4);
$ui-h2-font-size:         modular-scale(3);
$ui-h3-font-size:         modular-scale(1);
$ui-h1-color:             $black;
$ui-h2-color:             $black;
$ui-h3-color:             $ui-chesnut-rose;
$ui-hr-border-color:      $ui-silver-sand;
$ui-body-color:           $ui-chesnut-rose;
$ui-readline-color:       $ui-chesnut-rose;
$ui-swatch-outline-color: $ui-silver-sand;
$ui-reverse-bg-color:     $black;
$ui-reverse-text-color:   $white;
$ui-fontset-border-color: $ui-silver-sand;
